$colours: (
  primary: #E6CFFF,
  background: white,
  text: black,
  highlight: #def9af,
  highlight-hover: #E6CFFF,
  light-green: #def9af,
  tags: rgba(0, 0, 0, 0.7),
  quote: #7fae2e,
  green: #B6D67E,
  caption: rgba(0, 0, 0, 0.7),
);

/// Retrieve color from $colors map ie. `color(primary, base)`
@function color($name, $variant:null) {
  @if not map-has-key($colours, $name) {
    @error 'There is no colour or palette named `#{$name}` in $colours.';
  }

  @if ($variant != null) {
    @if not map-has-key(map-get($colours, $name), $variant) {
      @error 'There is no variant named `#{$variant}` in `#{$name}` palette.';
    }
    @return map-get(map-get($colours, $name), $variant);
  } @else {
    @return map-get($colours, $name);
  }
}
