{{/* Next and Prev are reversed for some unknown reasons */}}

<div class="siblings">
  <div class="siblings__prev">
    {{ if .Next }}
      <div class="siblings__project">
        {{ partial "project-data.html" .Next }}
      </div>

      <a href="{{.Next.Permalink}}">
        <div class="arrow-sibling">
          <div class="arrow arrow--prev"><span class="icon-arrow" /></div>
          <span class="arrow-caption">Prev</span>
        </div>
      </a>
    {{ end }}
  </div>
  <div class="siblings__next">
    {{ if .Prev }}
      <div class="siblings__project">
        {{ partial "project-data.html" .Prev }}
      </div>

      <a href="{{.Prev.Permalink}}">
        <div class="arrow-sibling">
          <div class="arrow arrow--next"><span class="icon-arrow" /></div>
          <span class="arrow-caption">Next</span>
        </div>
      </a>
    {{ end }}
  </div>
</div>
