$header-height: 70px;

#header {
  padding: 2rem 0;
  clear: both;

  .show-mobile {
    display: none;
    line-height: $header-height;
    font-size: 2rem;
  }

  .logo {
    float: left;

    a {
      border-bottom: 0;
    }
  }

  nav {
    font-weight: bold;
    text-align: right;
    line-height: $header-height;
  }

  nav a {
    padding: 0.5rem 1rem;
    line-height: initial;
  }
}

@media screen and (max-width: 900px) {
  #header {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  #header {
    .hide-mobile {
      display: none;
    }

    .show-mobile {
      display: block;
    }
  }
}
