.services {
  background-color: #f5f6f4;
  margin-bottom: 3rem;

  a {
    border-bottom: 5px solid #B6D67E;

    &:hover {
      border-bottom: 5px solid #CCA9F2;
    }
  }

  .blurb {
    width: 700px;
    margin: 0 auto;
    padding: 3rem 0;
    font-size: 1.25rem;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .services .blurb {
    width: 100%;
    padding: 2rem 1rem;
  }
}
