#footer {
  background-color: black;
  color: white;
  height: 350px;
  text-align: center;
  padding: 3rem;
  
  .social-links {
    margin: 2rem 0;

    &__icon {
      font-size: 1.5rem;
    }

    .icon-twitter {
      margin-right: 0.5rem;
    }
    .icon-dribbble {
      margin-left: 0.5rem;
    }
  }
  
  .menu {
    list-style: none;

    li {
      display: inline;
      margin-right: 0.5rem;
      padding-right: 1rem;
      border-right: 1px solid white;

      &:last-of-type {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
      }
      
      a {
        &:hover {
          color: color(footer-hover);
        }
      }
    }
  }
}
