#project-list {
  text-align: center;

  h2 {
    margin-bottom: 3rem;
  }
  
  section:nth-child(odd) {
    .project-summary__pic {
      order: 1;
      // manually removing margins from lost-column
      margin-left: 30px;
      margin-right: 0;

      .pic-frame {
        float: right;
      }
    }
  }

  .project-summary {
    lost-flex-container: row;
    margin-bottom: 5rem;
    color: color(text);
    clear: both;
    
    .pic-frame {
      padding: 8px;
      border: 2px solid black;
      width: 534px;

      &:hover {
        border: 4px solid black;
        padding: 6px;
      }
    }

    &__pic {
      lost-column: 7/12 flex;

      img {
        width: 514px;
        height: 394px;
        // removes the margin bottom html somehow adds
        vertical-align: middle;
      }
    }

    &__desc {
      lost-column: 5/12 flex;
      text-align: left;
      padding: 0.5rem;
    }
  }
}
