
.project__content {
  margin: 5rem 0;
  
  p, blockquote, h1, h2, h3, h4 {
    @extend .restrict-width;
    width: 700px;
  }

  figure {
    @extend .restrict-width;
    width: 780px;
  }

  p {
    font-size: 1.25rem;
  }

  .has-bg {
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  h1, h2, h3 {
    text-align: center;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  figure {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    img {
      padding-bottom: 1rem;
      max-width: 100%;
    }
  }

  figcaption {
    color: color(caption);
    font-size: 90%;
  }
}
