
$colours: (
  background: white,
  text: black,
  cta-bg: #c2f0ff,
  footer-links: #5dd9ff,
  highlight: #def9af,
  highlight-hover: #E6CFFF,
  header-hover: #def9af,
  tags: #9b9b9b,
  quote: #7fae2e,
  caption: #9b9b9b,
);

/// Retrieve color from $colors map ie. `color(primary, base)`
@function color($name, $variant:null) {
  @if not map-has-key($colours, $name) {
    @error 'There is no colour or palette named `#{$name}` in $colours.';
  }

  @if ($variant != null) {
    @if not map-has-key(map-get($colours, $name), $variant) {
      @error 'There is no variant named `#{$variant}` in `#{$name}` palette.';
    }
    @return map-get(map-get($colours, $name), $variant);
  } @else {
    @return map-get($colours, $name);
  }
}
