<footer id="footer">
  <div class="restrict-width">
    <img srcset="{{ .Site.BaseURL }}img/footer-logo.png 1x, {{ .Site.BaseURL }}img/footer-logo@2x.png 2x" alt="Pixel Spa logo">
    
    <div class="social-links">
      <a href="https://twitter.com/pxlspa" href="_blank"><span class="social-links__icon icon-twitter"/></a>
      <a href="https://dribbble.com/grarighe" href="_blank"><span class="social-links__icon icon-dribbble"/></a>
    </div>

    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="https://medium.com/@grarighe" target="_blank">Blog</a></li>
        <li><a href="https://grarighe.typeform.com/to/Tf6699" target="_blank">Ask for a quote</a> or say hi at <a href="#">hello@pixelspa.com</a></li>
      </ul>
    </nav>

    <p>© 2016 PixelSpa Ltd.</p>
  </div>
</footer>
