<!DOCTYPE html>
<html lang="en-us">
    <head>
      <meta charset="UTF-8">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{% block description %}{{config.extra.description}}{% endblock description %}">
      <meta name="author" content="{{config.extra.name}}">
      <title>{{config.extra.name}}</title>
      <link href='https://fonts.googleapis.com/css?family=Exo+2:600|PT+Sans' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ get_url(path="app.css") }}" />
      <link rel="icon" href="{{ get_url(path="img/pixelfaccia.ico") }} type="image/x-icon"/>
      <link rel="shortcut icon" href="{{ get_url(path="img/pixelfaccia.ico") }}" type="image/x-icon"/>
    </head>

  <body>
    <header id="header" {% block header_style %}{% endblock header_style %}>
      <div class="restrict-width">
        <div class="logo">
        <a href="/">
          <img srcset="{{ get_url(path="img/header-logo.png") }} 1x, {{ get_url(path="img/header-logo@2x.png") }} 2x" alt="Pixel Spa logo">
        </a>
        </div>
        <nav>
          <a class="button" href="mailto:{{ config.extra.email }}">Get in touch</a>
        </nav>
      </div>
    </header>

    {% block content %}
      <div id="hero">
        <div class="restrict-width">
          <h1 class="hero__tagline">
            Experiences. <br>
            Made beautiful.<br>
          </h1>
          <img class="hero__pic" srcset="{{ get_url(path="img/hero.png") }} 1x, {{ get_url(path="img/hero@2x.png") }} 2x" alt="Pixel Spa hero picture">
        </div>
      </div>

      <div class="services">
        <p class="blurb">
            Hello! I’m <b>Barbara Marcantonio</b>, a Lead Product Designer based in the EU. <br/>
            I work with tech teams all over the world to create products that people love. <br/>
            Check out <a href="https://dribbble.com/grarighe">my work</a>, <a href="https://medium.com/@grarighe">my articles</a> or <a href="mailto:{{ config.extra.email }}">get in touch</a>.
        </p>
      </div>

      <div id="project-list">
        <div class="restrict-width">
          {% for page in section.pages | reverse %}
              <section class="project-summary">
                  <div class="project-summary__pic">
                    <div class="pic-frame">
                    <a href="{{page.permalink}}">
                      <img srcset="
                        {{ config.base_url }}{{page.path}}{{ page.extra.list_images[0] }} 1x,
                        {{ config.base_url }}{{page.path}}{{ page.extra.list_images[1] }} 2x"
                        alt="{{ page.title }}">
                      </a>
                  </div>
                  </div>
                  <div class="project-summary__desc">
                    <h3><a href="{{page.permalink}}"><span class="highlight">{{ page.title }}</span></a></h3>
                    {% if page.extra.client %}<p class="client"><strong>{{ page.extra.client }}</strong></p> {% endif %}
                    <p class="tags">
                      {{ page.extra.tags | join(sep=", ") }}
                    </p>
                  </div>
              </section>
          {% endfor %}
        </div>
      </div>
    {% endblock content %}

    {% include "cta.html" %}

    <footer id="footer">
      <div class="restrict-width">
        <img srcset="{{ get_url(path="img/footer-logo.png") }} 1x, {{ get_url(path="img/footer-logo@2x.png") }} 2x" alt="Pixel Spa logo">

        <div class="social-links">
          <a href="https://twitter.com/grarighe" target="_blank"><span class="social-links__icon icon-twitter"/></a>
          <a href="https://dribbble.com/grarighe" target="_blank"><span class="social-links__icon icon-dribbble"/></a>
        </div>

        <p>© 2019 Barbara Marcantonio | Say hi at <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a></p>
      </div>
    </footer>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ config.extra.google_analytics}}', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  </body>
</html>
