<footer id="footer">
  <div class="restrict-width">
    <img srcset="{{ .Site.BaseURL }}img/footer-logo.png 1x, {{ .Site.BaseURL }}img/footer-logo@2x.png 2x" alt="Pixel Spa logo">
    
    <div class="social-links">
      TODO
    </div>

    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">How I work</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Ask for a quote</a> or say hi at <a href="#">hello@pixelspa.com</a></li>
      </ul>
    </nav>

    <p>© 2016 PixelSpa Ltd.</p>
  </div>
</footer>
