*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: colors(background);
  color: colors(text);
}

.centered {
  display: flex !important;
  align-items: center;
  justify-content: center;
  lost-flex-container: column;
}

.restrict-width {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  display: block;
}

.tags {
  color: color(tags);
}
