*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: colors(background);
  color: colors(text);
  font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
}


.restrict-width {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  display: block;
}


// TODO: typography
h1,h2,h3 {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}
