$base-font-size: 18px;
$base-line-height: $base-font-size * 1.25;

$text-font: 'PT Sans', sans-serif;
$title-font: 'Exo 2', sans-serif;

// modular scale (1.5 ratio)
$type-scale: (
  small: 0.667rem,
  base: 1rem,
  large: 1.5rem,
  xlarge: 2.25rem,
  xxlarge: 3.375rem,
);
@function type-scale($level) {
  @return map-get($type-scale, $level);
}

body {
  font-size: $base-font-size;
  font-family: $text-font;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  margin-top: 0;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: type-scale(xxlarge);
}

h2 {
  font-size: type-scale(xlarge);
}

h3 {
  font-size: type-scale(large);
}

p {
  line-height: 1.6;
  margin-top: 0;
}

blockquote {
  padding: 1rem;
  padding-left: 0;
  position: relative;
  margin: 0;
  font-size: type-scale(large);
  
  // change name when adding icon
  .icon-quotes-right {
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    color: blue;
  }

  p {
    font-style: italic;
    margin-bottom: 0;
    padding: 0 1rem;
    color: red;
  }
}
